# should be in /usr/lib/udev/rules.d
ACTION=="add", SUBSYSTEMS=="usb", ATTR{idVendor}=="12d1", ATTR{idProduct}=="107e", ATTR{configuration}=="hisuite_mtp_mass_storage_adb_hdb",RUN+="/usr/bin/touch /home/pi/in"


ACTION=="remove", SUBSYSTEMS=="usb", ENV{ID_VENDOR_ID}=="12d1", RUN+="/usr/bin/touch /home/pi/out"

